name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd devops-static-pipeline
          git pull
          docker stop $(docker ps -q) || true
          docker rm $(docker ps -aq) || true
          docker build -t devops-static-site .
          docker run -d -p 80:80 devops-static-site
